{% load staticfiles %}
{% load i18n %}
        <div class="modal fade user-modal" id="user-modal">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#login" data-toggle="tab">{% trans "Log in" %}</a></li>
                            <li><a href="#register" data-toggle="tab">{% trans "Register" %}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="login">
                                <div class="form-content text-center">
                                    <h2>{% trans "Sign In" %}</h2>
                                    <p>{% trans "Chose One of the Following Methods." %}</p>
                                    <div class="social-btn">
                                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i>{% trans "With Facebook" %}</a>
                                        <a href="#" class="btn btn-plush"><i class="fa fa-google-plus"></i>{% trans "With Google +" %}</a>
                                    </div>
                                    <div class="ui horizontal divider">{% trans "Or" %} </div>
                                    <p>{% trans "Sign in Using Your Email Address" %}</p>
                                    <div class="form-group">
                                        <input class="form-control" name="f_name" id="f_name2" placeholder="{% trans "Username or email" %}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="pass" id="pass" placeholder="{% trans "Password" %}" type="text">
                                    </div>
                                    <div class="block-content">
                                        <div class="checkbox checkbox-danger">
                                            <input id="checkbox8" type="checkbox">
                                            <label for="checkbox8">
                                                {% trans "Remember me" %}
                                            </label>
                                        </div>
                                        <a href="#" class="forgot">{% trans "Forgot Password?" %}</a>
                                    </div>
                                    <a href="#" class="btn link-btn btn-block btn-rounded">{% trans "Login" %} &#8702;</a>
                                    <div class="">{% trans "Don't have an account?" %} <a href="#">{% trans "Sign up Now" %}</a></div>
                                </div>
                                <!-- /.End of Login -->
                            </div>
                            <div class="tab-pane fade" id="register">
                                <div class="form-content">
                                    <h2 class="text-center">{% trans "Sign Up For Free" %}</h2>
                                    <div class="form-group">
                                        <input class="form-control" name="name" id="name" placeholder="{% trans "Your Name" %}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="email" placeholder="{% trans "Your Email Address" %}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="c_name" id="c_name" placeholder="{% trans "Your Company Name" %}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="pass2" id="pass2" placeholder="{% trans "Enter Your Password" %}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="r_pass" id="r_pass" placeholder="{% trans "Retype Your Password" %}" type="text">
                                    </div>
                                    <div class="block-content">
                                        <div><i class="fa fa-shield"></i><span>{% trans "Your Password at Global Crypto are encrypted and Secured" %}</span></div>
                                    </div>
                                    <a href="#" class="btn link-btn btn-block btn-rounded">{% trans "Sign Up" %} &#8702;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
