{% load staticfiles %}
{% load i18n %}
<div class="wrap-sticky" style="height: 56px;"><nav class="navbar navbar-inverse navbar-sticky navbar-mobile bootsnav on menu-center">
                <div class="container">
                    <div class="attr-nav">
                        <ul>
                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#user-modal"><i class="fa fa-user"></i></a></li>
                            <li class="side-menu"><a href="javascript:void(0)"><i class="fa fa-bars"></i></a></li>
                            <li id="btn-search1"><a href="javascript:void(0)" id="btn-search2"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="{% url 'index.html' %}"><img src="{% static 'front/assets/img/logo-white.png' %}" class="logo" alt=""></a>
                    </div>
                    <!-- End Header Navigation -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    {% include "front/black/header/navbar_collapse/navbar-collapse.html" %}
                </div>
                <div class="side" id="side">
                    <a href="#" class="close-side"><i class="ti-close"></i></a>
                    <div class="widget">
                        <h3 class="widget-title">Smonu</h3>
                        <ul class="link">
                            <li><a href="{% url 'index.html' %}">{% trans "Home" %}</a></li>
                            <li><a href="{% url 'contact.html' %}">{% trans "Contact" %}</a></li>
                            <li><a href="{% url 'blog' %}">{% trans "Blog" %}</a></li>
                            <li><a href="{% url 'collections.html' %}">{% trans "Collections" %}</a></li>
                        </ul>
                    </div>
                    <!-- /.End of latest post -->
                    <div class="social_share_btn">
                        <h3 class="widget-title">Subscribe</h3>
                        <ul>
                            <li class="li-facebook"><a href="https://www.facebook.com/Smonu" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li class="li-twitter"><a href="https://www.Twitter.com/Smonu" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li class="li-google-plus"><a href="https://www.Google.com/Smonu" target="_blank"><i class="fa fa-google-plus"></i> Google +</a></li>
                            <li class="li-pinterest"><a href="https://www.Pinterest.com/Smonu" target="_blank"><i class="fa fa-pinterest-p"></i> Pinterest</a></li>
                        </ul>
                    </div>
                    <!-- /.End of subscribe -->
                </div>
                <!-- /. End of side menu -->
                <div class="side-overlay"></div>
            </nav></div>
