{% load staticfiles %}
{% load i18n %}
<div class="page-content">
    <div class="container">
        <div class="row">
            <main class="col-sm-12">
                <div id="macy-container">
                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-4.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span> 
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-4.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-4.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-4.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-5.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span> 
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-4.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-4.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-4.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-4.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-4.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-4.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="grid_post card-post">
                        <figure>
                            <a href="#" class="grid_image">
                                <img src="assets/img/grid-8.jpg"  class="img-responsive" alt="">
                            </a>
                            <figcaption>
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem.</a></h4>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span> 
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </main>
        </div>
    </div>
</div>
