{% extends 'backstage/user/base.html' %}

{% load staticfiles %} <!-- 模板标签加载静态文件路径 -->

{% block title %}欢迎来到后台管理系统{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>密码重置 <small>欢迎您使用SMONU后台</small></h3>
                </div>
            </div>
        </div>
        <div class="row">

            {% include "backstage/user/info/reset.html" %}

        </div>
    </div>

{% endblock %}

{% block hightjs %}
    <script>
     var csrftoken = $.cookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
    function validate() {
    var pw1 = document.getElementById("password").value;
    var pw2 = document.getElementById("password1").value;
    if(pw1!==""){
        if(pw1 !== pw2) {
            document.getElementById("tishi").innerHTML="<font color='red'>两次密码不相同！</font>";
            document.getElementById("submit").disabled = true;
            }
            else {
                document.getElementById("tishi").innerHTML="<font color='red'></font>";
                document.getElementById("submit").disabled =false ;
            }
        }else {
            document.getElementById("tishi").innerHTML="<font color='red'>输入密码！</font>";
            document.getElementById("submit").disabled = true;

        }
    }
    </script>
{% endblock %}