{% extends 'backstage/user/base.html' %}

{% load staticfiles %} <!-- 模板标签加载静态文件路径 -->

{% block title %}欢迎来到后台管理系统{% endblock %}
{% block hightcss %}
    <link href={% static "backstage/css/dataTables.bootstrap.min.css" %} rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>文章查看 <small>欢迎您使用WAITING博客后台</small></h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% include "backstage/user/recommend/articletable.html" %}

        </div>
    </div>

{% endblock %}

{% block hightjs %}
    <script src={% static "backstage/js/jquery.dataTables.min.js" %}></script>
    <script src={% static "backstage/js/dataTables.responsive.min.js" %}></script>
{% endblock %}
