{% load staticfiles %}
<div class="col-xl-12 order-lg-2 order-xl-1" id="homecarousel">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    首页轮播管理
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin::Section-->
            <div class="kt-section">
                    <span class="kt-section__info">
                    Using the most basic table markup, here’s how tables look in Metronic:
                </span>
                <div class="kt-section__content">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>轮播图片</th>
                            <th>轮播链接</th>
                            <th>信息简体</th>

                            <th>信息繁体</th>
                            <th>信息英文</th>
                            <th>信息法文</th>
                            <th>信息西班牙文</th>
                            <th>信息葡萄牙文</th>
                            <th>处理
                                <button type="button" class="btn btn-outline-brand btn-elevate btn-icon"
                                        onclick="window.open('{% url 'add-homecarousel.html' %}','_self');"

                                        style="float: right;height: 1.8rem;width: 1.8rem;"><i
                                        class="la flaticon2-add-1"></i></button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for carousel in Carousel_Info %}

                            <tr>
                                <th scope="row">{{ carousel.carousel_nub }}</th>
                                <td><img src="/static/{{ carousel.carousel_img }}" style="height: 200px" alt=""></td>
                                <td>{{ carousel.carousel_url }}</td>
                                <td>{{ carousel.carousel_info_zh_hans }}</td>
                                <td>{{ carousel.carousel_info_zh_hant }}</td>
                                <td>{{ carousel.carousel_info_en }}</td>
                                <td>{{ carousel.carousel_info_fr }}</td>

                                <td>{{ carousel.carousel_info_es }}</td>
                                <td>{{ carousel.carousel_info_pt }}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-brand btn-elevate btn-icon"
                                            onclick="window.open('{% url 'del-homecarousel.html' %}?menu_order={{ carousel.carousel_nub }}','_self');">
                                        <i class="la flaticon2-cross"></i></button>

                                    <button type="button" class="btn btn-outline-brand btn-elevate btn-icon"
                                            onclick="window.open('{% url 'change-homecarousel.html' %}?menu_order={{ carousel.carousel_nub }}','_self');">
                                        <i class="la flaticon2-pen"></i></button>

                                    <button type="button" class="btn btn-outline-brand btn-elevate btn-icon"
                                            onclick="window.open('{% url 'down-homecarousel.html' %}?menu_order={{ carousel.carousel_nub }}','_self');">
                                        <i class="la flaticon2-down"></i></button>

                                    <button type="button" class="btn btn-outline-brand btn-elevate btn-icon"
                                            onclick="window.open('{% url 'up-homecarousel.html' %}?menu_order={{ carousel.carousel_nub }}','_self');">
                                        <i class="la flaticon2-up"></i></button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <!--end::Section-->
        </div>
        <!--end::Form-->
    </div>
</div>
