              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>文章信息 <small>最近十篇文章</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="table-responsive">
                        <div class="row" style="margin-right:5px;margin-left: 5px">
                            <div class="col-sm-12">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">

                            <th class="column-title">文章名称 </th>
                            <th class="column-title">发布时间 </th>
                            <th class="column-title">文章是否已处理 </th>

                            <th class="column-title no-link last"><span class="nobr">处理</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                        {% for foo in article %}
                            <tr class="even pointer">
                                <td class=" "><a href="/bbs/article/{{ foo.title_id }}">{{ foo.title }}</a></td>
                                <td class=" ">{{ foo.f_time }}</td>
                                <td class=" ">{% if foo.column %} 已增加SEO {% else %} <p style="color: red;margin: 0">未处理</p> {% endif %} </td>
                                <td class=" last">
                                    <a href="/userauth/modifyarticle/{{ foo.title_id }}">修改</a><a href="/userauth/artdelete/{{ foo.title_id }}" style="margin-left: 10px">删除</a>
                                </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
