{% load staticfiles %}
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                基本信息
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#kt_tabs_5_1">简体中文</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tabs_5_2">English</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tabs_5_3">繁體中文</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tabs_5_4">français</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tabs_5_5">español</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tabs_5_6">Português</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_5_1" role="tabpanel">
                <form class="kt-form kt-form--label-right"
                      action="{% url 'post_change_enter_info.html' %}?title_id={{ article.title_id }}"  method="post">
                    {% csrf_token %}
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">简介:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Type notes">
                                        {{ article.title_id }}
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">关键词（keyword）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input type="text" class="form-control" value="{{ article.title_id }}"
                                       name="contact_name">
                            </div>
                        </div>
                         <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">描述（description_key）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="description_key" rows="3" placeholder="Type notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-9 ml-lg-auto">
                                        <a href="javascript:history.back(-1)" id="kt_notify_btn"
                                           class="btn btn-success">返回</a>
                                        <button type="submit" class="btn btn-secondary">修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="kt_tabs_5_2" role="tabpanel">
                <form class="kt-form kt-form--label-right"
                      action="{% url 'post_change_enter_info.html' %}?title_id={{ article.title_id }}" method="post">
                    {% csrf_token %}
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">简介:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Type notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">关键词（keyword）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input type="text" class="form-control" value=""
                                       name="contact_name">
                            </div>
                        </div>
                         <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">描述（description_key）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="description_key" rows="3" placeholder="Type notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-9 ml-lg-auto">
                                        <a href="javascript:history.back(-1)" id="kt_notify_btn"
                                           class="btn btn-success">返回</a>
                                        <button type="submit" class="btn btn-secondary">修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="kt_tabs_5_3" role="tabpanel">
                <form class="kt-form kt-form--label-right"
                      action="{% url 'post_change_enter_info.html' %}?title_id={{ article.title_id }}" method="post">
                    {% csrf_token %}
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">简介:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Type notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">关键词（keyword）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input type="text" class="form-control" value=""
                                       name="contact_name">
                            </div>
                        </div>
                         <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">描述（description_key）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="description_key" rows="3" placeholder="Type notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-9 ml-lg-auto">
                                        <a href="javascript:history.back(-1)" id="kt_notify_btn"
                                           class="btn btn-success">返回</a>
                                        <button type="submit" class="btn btn-secondary">修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="kt_tabs_5_4" role="tabpanel">
                <form class="kt-form kt-form--label-right"
                      action="{% url 'post_change_enter_info.html' %}?title_id={{ article.title_id }}" method="post">
                    {% csrf_token %}
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">简介:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Type notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">关键词（keyword）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input type="text" class="form-control" value=""
                                       name="contact_name">
                            </div>
                        </div>
                         <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">描述（description_key）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="description_key" rows="3" placeholder="Type notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-9 ml-lg-auto">
                                        <a href="javascript:history.back(-1)" id="kt_notify_btn"
                                           class="btn btn-success">返回</a>
                                        <button type="submit" class="btn btn-secondary">修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="kt_tabs_5_5" role="tabpanel">
                <form class="kt-form kt-form--label-right"
                      action="{% url 'post_change_enter_info.html' %}?title_id={{ article.title_id }}" method="post">
                    {% csrf_token %}
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">简介:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Type notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">关键词（keyword）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input type="text" class="form-control" value=""
                                       name="contact_name">
                            </div>
                        </div>
                         <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">描述（description_key）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="description_key" rows="3" placeholder="Type notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-9 ml-lg-auto">
                                        <a href="javascript:history.back(-1)" id="kt_notify_btn"
                                           class="btn btn-success">返回</a>
                                        <button type="submit" class="btn btn-secondary">修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="kt_tabs_5_6" role="tabpanel">
               <form class="kt-form kt-form--label-right"
                      action="{% url 'post_change_enter_info.html' %}?title_id={{ article.title_id }}" method="post">
                    {% csrf_token %}
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">简介:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Type notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">关键词（keyword）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input type="text" class="form-control" value=""
                                       name="contact_name">
                            </div>
                        </div>
                         <div class="form-group row">
                            <label class="col-form-label col-lg-2 col-sm-12">描述（description_key）:</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="description_key" rows="3" placeholder="Type notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-9 ml-lg-auto">
                                        <a href="javascript:history.back(-1)" id="kt_notify_btn"
                                           class="btn btn-success">返回</a>
                                        <button type="submit" class="btn btn-secondary">修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>