{% load staticfiles %}
                <div class="page-content">
                    <div class="container" >
                        <div class="content-push">
                            <div class="breadcrumb-box">
                                <a href="#">Home</a>
                                <a href="#">Shop</a>
                                <a href="#">T-shirts</a>
                                <a href="#">Careers</a>
                                <a href="#">T-shirt Stampata</a>
                            </div>

                            <div class="information-blocks">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 information-entry">
                                        <div class="product-detail-box" style="margin-bottom: 20px">
                                            <h1 class="product-title">T-shirt Basic Stampata</h1>
                                            <h3 class="product-subtitle">Loremous Clothing</h3>


                                            <div class="share-box detail-info-entry">
                                                <div class="title">Share in social media</div>
                                                <div class="socials-box">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                </div>
                                                <div class="clear"></div>
                                            </div>


                                        </div>
                                        <div class="product-detail-box">
                                             <div class="detail-info-entry">
                                                 <a href="#" >Find Your Wig Size</a>|
                                                 <a href="#" >How to Choose Color</a>|
                                                 <a href="#" >How to Wash A Human Hair Wig or Synthetic Wig</a>|
                                                 <a href="#" >Ask us a question</a>|
                                                 <a href="#" >Return Policy</a>
                                             </div>
                                            <div class='embed-container'>
                                                <video controls>
                                                    <source src="/static/front/assets/viedo/Rallye.mp4"  type="video/mp4">
                                                    <!--<source src="mov_bbb.ogg" type="video/ogg">-->
                                                </video>
                                            </div>
                                            <h3>It is a long established fact that a reader will be distracted. </h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                                            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
                                            humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need
                                        <blockquote>
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                                            by injected humour, or randomised words which don't look even slightly believable.
                                        </blockquote>
                                        <h3>There are many variations of passages of Lorem Ipsum available.</h3>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                            making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
                                            obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered
                                            the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil)
                                            by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
                                            "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                                        <ol>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                            <li>Quisque mollis quam vitae arcu cursus lacinia.</li>
                                            <li>Praesent condimentum nunc eget ligula rutrum pretium.</li>
                                            <li>Fusce rhoncus eros et auctor tincidunt.</li>
                                            <li>Donec eu neque at turpis tempus pretium rhoncus sed neque.</li>
                                            <li>In nec metus commodo, semper dolor vitae, volutpat lacus.</li>
                                            <li>Donec maximus dolor in felis ornare, et euismod enim lobortis.</li>
                                        </ol>

                                        </div>

                                    </div>

                                    <div class="clear visible-xs visible-sm"></div>
                                </div>

                            </div>



                        </div>

                    </div>
                </div>

