{% load staticfiles %}
{% load i18n %}
    <div class="page-content">
                    <div class="container">
                        <div class="content-push">
                            <div class="breadcrumb-box">
                                <a href="#" style="font-size: 16px">Home</a>
                                <a href="#" style="font-size: 16px">Shop</a>
                                <a href="#" style="font-size: 16px">T-shirts</a>
                                <a href="#" style="font-size: 16px">Careers</a>
                                <a href="#" style="font-size: 16px">T-shirt Stampata</a>
                            </div>
                        </div>
                        <h1>African American Lace Front Wigs</h1>
                        <hr>
                        <p>Our lace front wigs for black women are exactly what you've been looking for! These lace frontal wigs blend seamlessly with your natural hairline to give you the most natural look. Shop your favorite brands like Vivica Fox and Motown tress and find the lace look you'll love today!</p>
                        <div class="portfolio">
                            <div class="row">
                                <ul class="portfolio-items list-unstyled popup-gallery" id="grid">
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-1.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-1.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">Melrose | HF Synthetic Lace Front Wig (Basic Cap)  | 11 Colors</p>
                                                    <p style="color:#000;font-size: 18px"><strong>$282.00</strong>&nbsp;&nbsp; <span style="font-size: 18px;text-decoration:line-through #c41949;color: #c41949;font-weight:500">$354.00</span> </p>
                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-2.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-2.jpg" alt="" class="img-responsive">
                                                 <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">an illustration work</p>
                                                    <p style="color:#000;font-size: 18px"><strong>$282.00</strong>&nbsp;&nbsp; <span style="font-size: 18px;text-decoration:line-through #c41949;color: #c41949;font-weight:500">$354.00</span> </p>

                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-3.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-3.jpg" alt="" class="img-responsive">
                                                 <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">an illustration work</p>
                                                     <p style="color:#000;font-size: 18px"><strong>$282.00</strong>&nbsp;&nbsp; <span style="font-size: 18px;text-decoration:line-through #c41949;color: #c41949;font-weight:500">$354.00</span> </p>

                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-4.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-4.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">an illustration work</p>
                                                    <p style="color:#000;font-size: 18px"><strong>$282.00</strong>&nbsp;&nbsp; <span style="font-size: 18px;text-decoration:line-through #c41949;color: #c41949;font-weight:500">$354.00</span> </p>

                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-5.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-5.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">an illustration work</p>
                                                    <p style="color:#000;font-size: 18px"><strong>$282.00</strong>&nbsp;&nbsp; <span style="font-size: 18px;text-decoration:line-through #c41949;color: #c41949;font-weight:500">$354.00</span> </p>

                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-6.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-6.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">an illustration work</p>
                                                    <p style="color:#000;font-size: 18px"><strong>$282.00</strong>&nbsp;&nbsp; <span style="font-size: 18px;text-decoration:line-through #c41949;color: #c41949;font-weight:500">$354.00</span> </p>

                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-7.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-7.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">an illustration work</p>
                                                    <p style="color:#000;font-size: 18px"><strong>$282.00</strong>&nbsp;&nbsp; <span style="font-size: 18px;text-decoration:line-through #c41949;color: #c41949;font-weight:500">$354.00</span> </p>

                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-8.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-8.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">an illustration work</p>
                                                     <p style="color:#000;font-size: 18px"><strong>$282.00</strong>&nbsp;&nbsp; <span style="font-size: 18px;text-decoration:line-through #c41949;color: #c41949;font-weight:500">$354.00</span> </p>

                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-9.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-9.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline;font-size: 18px">an illustration work</p>
                                                    <p style="color:#000;font-size: 18px"><strong>$282.00</strong>&nbsp;&nbsp; <span style="font-size: 18px;text-decoration:line-through #c41949;color: #c41949;font-weight:500">$354.00</span> </p>

                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <!-- sizer -->
                                    <li class="col-md-3 col-sm-3 col-xs-6 shuffle_sizer"></li>

                                </ul> <!--end portfolio grid -->
                                {% include "front/package/pagination.html" %}

                            </div> <!--end row -->
                        </div>
                    </div>
                </div>
