{% load staticfiles %}
{% load i18n %}
    <div class="page-content">
                    <div class="container">
                        <h1>Collections</h1>
                        <hr>
                        <div class="content-push">
                                        <div class="breadcrumb-box">
                                            <a href="#">Home</a>
                                            <a href="#">Shop</a>
                                            <a href="#">T-shirts</a>
                                            <a href="#">Careers</a>
                                            <a href="#">T-shirt Stampata</a>
                                        </div>
                                     </div>

                        <div class="portfolio">
                            <div class="row">
                                <ul class="portfolio-items list-unstyled popup-gallery" id="grid">
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-1.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-1.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline">an illustration work</p>
                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-2.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-2.jpg" alt="" class="img-responsive">
                                                 <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline">an illustration work</p>
                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-3.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-3.jpg" alt="" class="img-responsive">
                                                 <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline">an illustration work</p>
                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-4.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-4.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline">an illustration work</p>
                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-5.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-5.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline">an illustration work</p>
                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-6.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-6.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline">an illustration work</p>
                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-7.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-7.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline">an illustration work</p>
                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-8.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-8.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline">an illustration work</p>
                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <li class="col-md-3 col-sm-3 col-xs-6" style="padding: 8px">
                                        <figure class="portfolio-item">
                                            <a href="/static/front/assets/img/portfolio/800x600-9.jpg" class="port-img">
                                                <img src="/static/front/assets/img/portfolio/800x600-9.jpg" alt="" class="img-responsive">
                                                <div class="portfolio-text" >
                                                    <p style="color:#000;text-decoration: underline">Responsive Web design</p>
                                                    <p style="color:#000;text-decoration: underline">an illustration work</p>
                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    <!-- sizer -->
                                    <li class="col-md-3 col-sm-3 col-xs-6 shuffle_sizer"></li>

                                </ul> <!--end portfolio grid -->
                                            {% include "front/package/pagination.html" %}

                            </div> <!--end row -->
                        </div>
                    </div>
                </div>
