{% load staticfiles %}
                <div class="page-content" style="padding: 15px">
                    <div class="container" style="">
                        <div class="portfolio">
                            <div class="row">
                                <ul class="portfolio-items list-unstyled " >
                                    {% for cd in column_lists_List %}
                                    <li class="col-md-4 col-sm-4 col-xs-6">
                                        <figure class="portfolio-item" style="margin-bottom: 10px">
                                            <a href="{{cd.column_url}}" class="port-img">
                                                <img src="/static/{{ cd.column_lists_img }}" alt="{{ cd.column_lists_alt }}" class="img-responsive" style="">
                                                <div class="mask">
                                                    <h3 style="margin-top: 20%;color: white;font-size: 2.5em;text-transform: uppercase">
                                                        {{ cd.column_lists_title }}</h3>
                                                    <p style="color: white;font-size: 2em;text-transform: capitalize">
                                                        {{ cd.column_lists_subtitle }}</p>
                                                </div>
                                            </a>

                                        </figure>
                                    </li>
                                    {% endfor %}

                                    <li class="col-md-4 col-sm-4 col-xs-12 shuffle_sizer"></li>
                                </ul> <!--end portfolio grid -->
                            </div> <!--end row -->
                        </div>
                    </div>
                </div>