{% load staticfiles %}
{% load i18n %}

            <div class="insta-content">
                <div class="insta-link"><a href="#" rel="me" target="_blank" class="">{% trans "Follow Me!" %}</a></div>
                <div id="ri-grid" class="ri-grid ri-grid-size-2">
                    <img class="ri-loading-image" src="/static/front/assets/img/loading.gif" alt=""/>
                    <ul>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/01.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/02.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/03.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/04.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/05.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/06.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/07.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/08.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/09.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/10.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/11.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/12.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/13.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/14.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/15.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/16.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/17.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/18.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/19.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="/static/front/assets/img/instagram/20.jpg" alt=""/></a></li>
                    </ul>
                </div>
            </div>
