          {% load staticfiles %}
                        <div class="pagination-widget">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&#8701;</a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="page-numbers"><span>...</span></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&#8702;</a></li>
                            </ul>
                        </div>
