{% load staticfiles %}
<div class="container">

    <div class="information-blocks" style="margin-bottom: 10px">
        <div class="row">
            <div class="col-sm-3 col-xs-6 information-entry" style="padding-top: 5px;padding-bottom: 5px;margin-top:5px ;margin-bottom:5px ">
                <div class="inline-product-entry" style="padding-top: 5px;padding-bottom: 5px;margin-top:5px ;margin-bottom:5px ">
                    <a href="#" class="image" style="float:none">
                        <img alt="" src="/static/front/img/product-image-inline-1.jpg"></a>
                    <div class="" style="padding: 5px">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price" style="font-size: 18px">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                                <div class="product-detail-box" style="margin-bottom: 20px">
                                    <div class="rating-box">
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star-o"></i></div>
                                        <div class="star"><i class="fa fa-star-o"></i></div>
                                        <div class="rating-number">25 Reviews</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 information-entry" style="padding-top: 5px;padding-bottom: 5px;margin-top:5px ;margin-bottom:5px ">
                <div class="inline-product-entry" style="padding-top: 5px;padding-bottom: 5px;margin-top:5px ;margin-bottom:5px ">
                    <a href="#" class="image" style="float:none">
                        <img alt="" src="/static/front/img/product-image-inline-1.jpg"></a>
                    <div class="" style="padding: 5px">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price" style="font-size: 18px">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                                <div class="product-detail-box" style="margin-bottom: 20px">
                                    <div class="rating-box">
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star-o"></i></div>
                                        <div class="star"><i class="fa fa-star-o"></i></div>
                                        <div class="rating-number">25 Reviews</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 information-entry" style="padding-top: 5px;padding-bottom: 5px;margin-top:5px ;margin-bottom:5px ">
                <div class="inline-product-entry" style="padding-top: 5px;padding-bottom: 5px;margin-top:5px ;margin-bottom:5px ">
                    <a href="#" class="image" style="float:none">
                        <img alt="" src="/static/front/img/product-image-inline-1.jpg"></a>
                    <div class="" style="padding: 5px">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price" style="font-size: 18px">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                                <div class="product-detail-box" style="margin-bottom: 20px">
                                    <div class="rating-box">
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star-o"></i></div>
                                        <div class="star"><i class="fa fa-star-o"></i></div>
                                        <div class="rating-number">25 Reviews</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 information-entry" style="padding-top: 5px;padding-bottom: 5px;margin-top:5px ;margin-bottom:5px ">
                <div class="inline-product-entry" style="padding-top: 5px;padding-bottom: 5px;margin-top:5px ;margin-bottom:5px ">
                    <a href="#" class="image" style="float:none">
                        <img alt="" src="/static/front/img/product-image-inline-1.jpg"></a>
                    <div class="" style="padding: 5px">
                        <div class="cell-view">
                            <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                            <div class="price" style="font-size: 18px">
                                <div class="prev">$199,99</div>
                                <div class="current">$119,99</div>
                                <div class="product-detail-box" style="margin-bottom: 20px">
                                    <div class="rating-box">
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star-o"></i></div>
                                        <div class="star"><i class="fa fa-star-o"></i></div>
                                        <div class="rating-number">25 Reviews</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
    </div>
</div>
